/* Centrar las imágenes en la vista de edición y lectura */
textarea.cm-s-obsidian img,
.markdown-source-view img,
.markdown-preview-view img {
    display: block;
    margin: auto;
}

/* Eliminar el espacio entre los títulos y el texto estándar en la vista de edición y lectura */
textarea.cm-s-obsidian h1,
textarea.cm-s-obsidian h2,
textarea.cm-s-obsidian h3,
textarea.cm-s-obsidian h4,
textarea.cm-s-obsidian h5,
textarea.cm-s-obsidian h6,
.markdown-source-view h1,
.markdown-source-view h2,
.markdown-source-view h3,
.markdown-source-view h4,
.markdown-source-view h5,
.markdown-source-view h6,
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
    margin-bottom: 0;
}

/* Añadir un pequeño espacio entre los párrafos en la vista de edición y lectura */
textarea.cm-s-obsidian p,
.markdown-source-view p,
.markdown-preview-view p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* Eliminar el espacio entre los títulos y el texto estándar */
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
    margin-bottom: 0;
}

.markdown-preview-view h1 {
    margin-bottom: 1;
}

/* Añadir un pequeño espacio entre los párrafos */
.markdown-preview-view p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* Espaciado entre texto y lista de puntos */
.markdown-preview-view ul,
.markdown-source-view ul {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* Espaciado entre texto y lista numerada */
.markdown-preview-view ol,
.markdown-source-view ol {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
